<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Walky-Talky Bigfoot</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
    <script src="js/source/jquery-3.4.1.min.js"></script>
    <script src="js/util/requests.js"></script>
    <script src="js/interface/home.js"></script>
</head>
<body>
    <h1 id="title">Walky-Talky Bigfoot</h1>
    <button id="create-room" class="ui button">Create Room</button>
    <button id="join-room" class= "ui button">Join Room</button>
    <button id="start-game" class="ui button">Start</button>
    <p id="room-disp"></p>
</body>
</html>