<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main-style.css">
</head>
<body>
    <script src="js/source/jquery-3.4.1.min.js"></script>
    <script src="js/source/socket.io.js"></script>
    <script src="js/source/pixi.js"></script>
    <script src="js/source/semantic.min.js"></script>
    <script src="js/interface/pixi-driver.js"></script>
    <script src="js/interface/game-driver.js"></script>
    <script src="js/interface/socket-driver.js"></script>
    <script src="js/interface/button-driver.js"></script>
    <h1 id="title">Walky-Talky Bigfoot</h1>
    <button id="create-room" class="ui button">Create Room</button>
    <button id="join-room" class= "ui button">Join Room</button>
    <button id="start-game" class="ui button">Start</button>
    <p id="room-disp"></p>
    <div id="controls">
        <p id="msg-window" style="white-space: pre-line"></p>
        <button id="move-button" class="huge ui button" style="display: none">Move</button>
        <button id="stay-button" class="huge ui button" style="display: none">Stay</button>
        <button id="trap-button" class="huge ui button" style="display: none">Trap</button>
        <button id="ambush-button" class="huge ui button" style="display: none">Ambush</button>
        <button id="confirm-button" class="huge ui button" style="display: none">Confirm</button>
        <button id="cancel-button" class="huge ui button" style="display: none">Cancel</button>
    </div>
    <div id="voting">
        <p id="vote-msg" style="white-space: pre-line"></p>
        <button id="yes-vote-button" class="big ui button" style="display: none">Yes</button>
        <button id="no-vote-button" class="big ui button" style="display: none">No</button>
    </div>
    <p id="day-counter"></p>


</body>
</html>